.title {
  font-size: 48px !important;
  font-weight: 900 !important;
  line-height: 72px !important;
  color: black;
}
.createError {
  color: #ab192f;
  font-weight: 600 !important;
}
.custName {
  color: black;
  border-radius: 8px;
  width: 96.5% !important;
  padding: 7px 10px;
  word-wrap: break-word;
  background-color: #f5f5f5 !important;
  border-color: #f5f5f5;
  border: 0px solid #cccccc;
  margin-bottom: 10px;
  min-height: 40px;
}
