.container {
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
}
.title {
  font-family: "Poppins" !important;
  font-size: 32px !important;
  font-weight: 800 !important;
  line-height: 48px !important;
}
