.input {
  color: black;
  border-radius: 8px;
  width: 96.5% !important;
  padding: 7px 10px;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  border: 0px solid #cccccc;
  margin-bottom: 10px;
  height: 40px;
}
.label {
  font-family: "Poppins", sans-serif;
  font-weight: bold !important;
  margin: 5px auto !important;
  color: black;
}

.err {
  color: rgb(204, 4, 4);
}
