.container {
  width: 95%;
  border-radius: 8px;
  background-color: #ffffff;
  margin: 10px 0px;
}
.imgContainer {
  height: 70px;
  width: 70px;
  border-radius: 8px;
}
.icon {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
.title {
  font-family: "Poppins", sans-serif;
  font-weight: bold !important;
  margin: 0 !important;
}
