.tilesContainer::-webkit-scrollbar {
  display: none;
}
//  Hide scrollbar for IE, Edge and Firefox
.tilesContainer {
  -ms-overflow-style: none;
  -o-overflow-style: none;
  scrollbar-width: none;
  height: 70vh;
  width: 100%;
  overflow-y: scroll;
}
.button {
  position: absolute;
  right: 20;
  bottom: 20;
}
.iconDim {
  height: 15px !important;
  width: 20px !important;
}
